<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
<appSettings>
  <!--更新时间间隔，分钟-->
  <add key="time_span" value="30"/>
  <!--要更新地址的域名-->
  <add key="my_domain" value="aaa.dynu.net"/>
  <!--更新用的密码-->
  <add key="my_password" value="aaa"/>
</appSettings>
</configuration>
